<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.ajurasz.remotetemp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true">

        <receiver android:name="io.github.ajurasz.remotetemp.RemoteTempWidgetProvider" >
            <intent-filter>
                <action android:name="io.github.ajurasz.remotetemp.MESSAGE_RECEIVED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/remotetemp_widget_info" />
        </receiver>

        <service
            android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="io.github.ajurasz.remotetemp.service.RegistrationIntentService"
            android:exported="false" />
    </application>

</manifest>
