<!DOCTYPE HTML>
<html>
<head>
    <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.0/radial/gauge.min.js"></script>
    <script type="text/javascript">
        document.onreadystatechange = function(){
            if(document.readyState === 'complete'){
                var gauge = new RadialGauge({
                    renderTo: 'basement-temp',
                    width: 300,
                    height: 300,
                    units: "°C",
                    minValue: 0,
                    maxValue: 110,
                    majorTicks: [
                        "0",
                        "10",
                        "20",
                        "30",
                        "40",
                        "50",
                        "60",
                        "70",
                        "80",
                        "90",
                        "100",
                        "110"
                    ],
                    minorTicks: 2,
                    strokeTicks: true,
                    highlights: [
                        {
                            "from": 80,
                            "to": 110,
                            "color": "rgba(200, 50, 50, .75)"
                        }
                    ],
                    colorPlate: "#fff",
                    borderShadowWidth: 0,
                    borders: false,
                    needleType: "arrow",
                    needleWidth: 2,
                    needleCircleSize: 7,
                    needleCircleOuter: true,
                    needleCircleInner: false,
                    animationDuration: 1500,
                    animationRule: "linear"
                }).draw();        

                var ws = new WebSocket("<%= ws %>");	
                ws.onmessage = function(evt) { 
                    var received_msg = JSON.parse(evt.data);
                    console.log(received_msg.temperature);
                    gauge.value = received_msg.temperature;
                };        
            }
        }
    </script>
</head>
<body>
    <canvas id="basement-temp"></canvas>
</body>
</html>